/* 헤더 */
header {
    height:80px;
    display:flex; align-items:center;
}
header .header_wrap {
    display:flex;
    justify-content:space-between; align-items:center;
    width:calc(100% - 200px);
    margin:0 auto;  
}
header .header_wrap .logo {}
header .header_wrap .logo h1 {}
header .header_wrap .logo h1 a {}
header .header_wrap .logo h1 a img {display:block;}
header .header_wrap .gnb {}
header .header_wrap .gnb ul {
    display:flex; gap:70px;
}
header .header_wrap .gnb ul li {}
header .header_wrap .gnb ul li a {font-weight:500;}
header .header_wrap .right_menu {}
header .header_wrap .right_menu ul {
    display:flex; gap:30px;
}
header .header_wrap .right_menu ul li {}
header .header_wrap .right_menu ul li a {
    font-size:0.75rem; font-weight:300;
}
/* 메인 */
/* ---1행 스와이퍼--- */
main {}
main .banner_container {position:relative;}
main .banner_container .swiper {}
main .banner_container .swiper .swiper-wrapper {}
main .banner_container .swiper .swiper-wrapper img {display:block; width:100%;}
main .banner_container .banner_text {
    position:absolute; right:80px; bottom:100px;
    z-index:900;
    text-align:center;
    animation:banner 1s linear;
}
main .banner_container .banner_text h2 {
    font-size:2.813rem; 
    font-weight:700;
    margin-bottom:40px;
    color:#fff;
    text-shadow: 0px 0px 5px 0px #ccc;
}
main .banner_container .banner_text .line {
    width:250px; height:2px;
    background:#fff;
    margin:0 auto 20px;
}
main .banner_container .banner_text .text {
    font-size:1.875rem;
    font-weight:500;
    line-height:1.5;
    color:#fff;
    text-shadow: 0px 0px 5px 0px #ccc;
}
/* 2행 간략소개 */
main .description {
    text-align:center;
    padding:100px 0;
}
main .description .description_container {
    width:1042px; margin:0 auto;
}
main .description .description_container .description_title {
    opacity:0;
}
main .description .description_container .description_title.active {
    animation:banner 0.5s linear both;
}
main .description .description_container .description_title p {
    font-size:1.125rem; font-weight:500;
}
main .description .description_container .description_title h3 {
    font-size:1.875rem; font-weight:800; margin:20px 0 50px;
}
main .description .description_container .description_wrap {
    display:flex; align-items:center; gap:50px;
    text-align:left;
}
main .description .description_container .description_wrap .description_left {}
main .description .description_container .description_wrap .description_left img {opacity:0;}
main .description .description_container .description_wrap .description_left img.active {
    animation:banner 1s linear 0.5s both;
}
main .description .description_container .description_wrap .description_right {opacity:0;}
main .description .description_container .description_wrap .description_right.active {
    animation:banner 1s linear 1s both;
}
main .description .description_container .description_wrap .description_right p {}
main .description .description_container .description_wrap .description_right p:nth-of-type(1) {
    font-size:1.125rem; line-height:2;
    text-decoration: underline;
    margin-bottom:50px;
}
main .description .description_container .description_wrap .description_right p:nth-of-type(2) {line-height:2;}
/* 3행 층별소개 */
main .floor_container {
    padding:100px 0;
    background:url(../images/floor_bg.jpg) no-repeat center / cover;
    position:relative;
    z-index: 0;
    width:100%;
    text-align:center;
}
main .floor_container .floor_wrap {
    max-width:1050px; margin:0 auto;
}
main .floor_container .floor_wrap h3 {
    font-size:1.875rem; font-weight:800;
    opacity:0;
}
main .floor_container .floor_wrap h3.active {
    animation:banner 1s linear both;
}
main .floor_container .floor_wrap .floor_description {
    margin-top:50px;
}
main .floor_container .floor_wrap .floor_description .floor_description_wrap {}
main .floor_container .floor_wrap .floor_description .floor_description_wrap1 {}
main .floor_container .floor_wrap .floor_description .floor_description_wrap2 {
    display:flex; justify-content:end;
    margin-top:50px;
}
main .floor_container .floor_wrap .floor_description .floor_description_wrap .floor {
    display:flex; align-items:center; gap:50px;
    opacity:0;
}
main .floor_container .floor_wrap .floor_description .floor_description_wrap .floor.active {
    animation:banner 1s linear 1s both;
}
main .floor_container .floor_wrap .floor_description .floor_description_wrap .floor1 {
    text-align:left;
}
main .floor_container .floor_wrap .floor_description .floor_description_wrap .floor1.active {
    animation:banner 1s linear 1s both;
}
main .floor_container .floor_wrap .floor_description .floor_description_wrap .floor2 {
    text-align:right;
}
main .floor_container .floor_wrap .floor_description .floor_description_wrap .floor2.active {
    animation:banner 1s linear 1s both;
}
main .floor_container .floor_wrap .floor_description .floor_description_wrap .floor .floor_photo {}
main .floor_container .floor_wrap .floor_description .floor_description_wrap .floor .floor_photo img {display:block;}
main .floor_container .floor_wrap .floor_description .floor_description_wrap .floor .floor_content {}
main .floor_container .floor_wrap .floor_description .floor_description_wrap .floor .floor_content .floor_title {
    margin-bottom:50px;
    font-size:1.25rem; font-weight:600;
}
main .floor_container .floor_wrap .floor_description .floor_description_wrap .floor .floor_content ul {
    display:flex; flex-direction:column; gap:10px;
}
main .floor_container .floor_wrap .floor_description .floor_description_wrap .floor .floor_content ul li {}
/* 4행 객실소개 */
main .room_container {padding:100px 0;}
main .room_container .room_wrap {
    max-width:1420px; margin:0 auto; 
    height:784px;
    text-align:center;
    position:relative;
}
main .room_container .room_wrap h3 {
    font-size:1.875rem; font-weight:800;
}
main .room_container .room_wrap .swiper {
    margin:50px auto;
    overflow:hidden;
    width:1240px;
}
main .room_container .room_wrap .swiper .swiper-wrapper {
    width:100%; margin:0 auto;
}
main .room_container .room_wrap .swiper .swiper-wrapper .swiper-slide {
    width:400px !important;
}
main .room_container .room_wrap .swiper .swiper-wrapper .swiper-slide:nth-of-type(4) {/* background:coral; */}
main .room_container .room_wrap .swiper .swiper-wrapper .swiper-slide a {display:block; width:100%;}
main .room_container .room_wrap .swiper .swiper-wrapper .swiper-slide a .room_title {
    font-size:1.125rem; font-weight:500;
}
main .room_container .room_wrap .swiper .swiper-wrapper .swiper-slide a .room_photo {
    margin:20px 0;
}
main .room_container .room_wrap .swiper .swiper-wrapper .swiper-slide a .room_photo img {display:block;}
main .room_container .room_wrap .swiper .swiper-wrapper .swiper-slide a .main_title {
    margin-bottom:20px;
    font-size:1.125rem; font-weight:500;
}
main .room_container .room_wrap .swiper .swiper-wrapper .swiper-slide a .sub_title {
    line-height:1.7;
    font-size:0.875rem;
}
main .room_container .room_wrap .swiper-button-next {}
main .room_container .room_wrap .swiper-button-next::after {display:none;}
main .room_container .room_wrap .swiper-button-prev {}
main .room_container .room_wrap .swiper-button-prev::after {display:none;}
main .room_container .room_wrap .swiper-pagination {
    display:flex; gap:20px; justify-content:center;
}
/* 5행 ad*/
main .ad {}
main .ad .ad_wrap {
    background:url(../images/ad.jpg) center center / cover no-repeat;
    height:800px; width:100%;
    position:relative;
}
main .ad .ad_wrap .ad_text {
    position:absolute;
    left:80px; bottom:80px;
    background:rgba(170,170,170,0.5);
    text-align:center;  
    padding:20px 30px;
    opacity:0;
}
main .ad .ad_wrap .ad_text.active {
    animation:banner 1s linear 1s both;
}
main .ad .ad_wrap .ad_text h3 {
    font-size:2.813rem;
    font-weight:700;
    color:#fff;
}
main .ad .ad_wrap .ad_text .line {
    width:250px; height:2px;
    background:#fff;
    margin:0 auto 20px;
    margin-top:40px;
}
main .ad .ad_wrap .ad_text p {
    font-size:1.875rem;
    font-weight:500;
    line-height:1.5;
    color:#fff;
}
/* 6행 프로그램 */
main .program {text-align:center; padding:100px 0;}
main .program .program_container {
    max-width:1420px; margin:0 auto;
}
main .program .program_container h3 {
    font-size:1.875rem; font-weight:800;
}
main .program .program_container .program_wrap {
    display:flex; flex-flow:row nowrap; gap:35px;
    margin-top:50px;
}
main .program .program_container .program_wrap li {}
main .program .program_container .program_wrap li .program_photo {}
main .program .program_container .program_wrap li .program_photo img {
    width:100%; display:block;
}
main .program .program_container .program_wrap li .main_title {
    margin:20px 0;
    font-size:1.125rem; font-weight:500;
}
main .program .program_container .program_wrap li .sub_title {
    font-size:0.875rem;
    line-height:1.7;
}
/* 7행 주변관광지 */
main .tourist {
    text-align:center;
    padding:100px 0;
}
main .tourist .tourist_container {
    max-width:1590px; margin:0 auto;
}
main .tourist .tourist_container h3 {
    font-size:1.875rem; font-weight:800;
}
main .tourist .tourist_container .swiper {
    text-align:left;
    margin-top:50px;
    
}
main .tourist .tourist_container .swiper .swiper-wrapper {}
main .tourist .tourist_container .swiper .swiper-wrapper .swiper-slide {
    width:300px;
    text-align:center;
    position:relative;
}
main .tourist .tourist_container .swiper .swiper-wrapper .swiper-slide::after {
    content:"";
    display:block;
    width:100%; height:100%;
    position:absolute; left:0; top:0;
    background:rgba(255,255,255,0.8)
}
main .tourist .tourist_container .swiper .swiper-wrapper .swiper-slide .tourist_photo {width:100%;}
main .tourist .tourist_container .swiper .swiper-wrapper .swiper-slide .tourist_photo img {width:100%; display:block;}
main .tourist .tourist_container .swiper .swiper-wrapper .swiper-slide .main_title {
    font-size:1.125rem;
    font-weight:500;
    margin:-10px auto 20px;
    padding:10px;
    background:#fff;
    position:relative; z-index:999;
    width:max-content; 
    border-radius:10px;
    display:none;
}
main .tourist .tourist_container .swiper .swiper-wrapper .swiper-slide .sub_title {
    font-size:0.875rem;
    line-height:1.7;
    display:none;
}
main .tourist .tourist_container .swiper .swiper-wrapper .swiper-slide-active::after {
    background:none;
}
main .tourist .tourist_container .swiper .swiper-wrapper .swiper-slide-active .main_title,
main .tourist .tourist_container .swiper .swiper-wrapper .swiper-slide-active .sub_title {display:block;}
main .tourist .tourist_container .swiper .swiper-button-prev {}
main .tourist .tourist_container .swiper .swiper-button-prev::after {display:none;}
main .tourist .tourist_container .swiper .swiper-button-prev img {}
main .tourist .tourist_container .swiper .swiper-button-next::after {display:none;}
main .tourist .tourist_container .swiper .swiper-button-next img {}
/* 푸터 */
footer {background:#6A8A00; padding:50px 100px;}
footer .footer_container {}
footer .footer_container ul {
    display:flex; gap:40px;
    margin-bottom:30px;
}
footer .footer_container ul li {}
footer .footer_container ul li a {
    display:block;
    font-weight:500;
    color:#fff;
}
footer .footer_container .footer_info {}
footer .footer_container .footer_info address {
    font-size:0.75rem;
    font-weight:300;
    line-height:2.0;
    color:#fff;
}
@keyframes banner {
    0% {opacity:0; transform:translateY(50px);}
    100% {opacity:1; transform:translateY(0px);}
}